<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.boss.rbac.persistence.UserRoleMenuMapper">

    <!-- column 参数列表  property 数据库列表 -->
    <resultMap type="org.boss.rbac.pojo.dto.UserDTO" id="BaseResultMap">
        <id column="username" property="username" />
        <result column="password" property="password" />
        <result column="role" property="role" />
        <!-- 集合类 -->
        <collection column="menus" property="menu" ofType="java.lang.String" select="selectMenus" >
            <id column="menus" property="menu" />
        </collection>
    </resultMap>

    <select id="getUserRoleMenu" resultMap="BaseResultMap">
        SELECT b.username, b.password, b.role
        FROM users b
        WHERE b.username = #{username}
    </select>

    <select id="selectMenus" resultType="java.lang.String">
        SELECT a.menu
        FROM role_menu a
        WHERE a.role = #{role}
    </select>

    
</mapper>