<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.boss.rbac.persistence.UserMapper">
    <!-- 登录的Mapper用二级缓存中把率不高 -->
    <!--<cache/>-->

    <insert id="add" parameterType="org.boss.rbac.pojo.po.UserPO">
        INSERT INTO users
        (username, password, role)
        VALUES
        (#{user.username}, #{user.password}, #{user.role})
    </insert>
    
    <select id="query" parameterType="java.lang.String" resultType="org.boss.rbac.pojo.po.UserPO">
        SELECT username, password, role
        FROM users
        WHERE username = #{username}
    </select>

    <update id="edit" parameterType="org.boss.rbac.pojo.po.UserPO">
        UPDATE users SET
        password = #{password}
        role = #{role}
        WHERE username = #{username}
    </update>

</mapper>